@tailwind base;
@tailwind components;
@tailwind utilities;

.form_main {
  @apply h-[555px] w-[450px] flex flex-col items-center justify-center bg-white shadow-[0px_0px_40px_rgba(0,0,0,0.062)] relative overflow-hidden p-[30px] before:absolute before:content-[""] before:w-[300px] before:h-[300px] before:bg-[rgb(209,193,255)] before:rotate-45 before:left-[-180px] before:z-[1] before:shadow-[5px_5px_10px_rgba(0,0,0,0.082)] before:rounded-[30px] before:bottom-[30px];
}
.inputContainer {
  @apply w-full relative flex items-center justify-center z-[2];
}
.inputIcon {
  @apply absolute left-[3px];
}
.inputField {
  @apply w-full h-[40px] bg-transparent text-[black] text-[0.8em] font-medium box-border mx-0 my-2.5 pl-[30px] border-b-2 border-b-[rgb(173,173,173)] border-[none] border-solid focus:border-b-2 focus:border-b-[rgb(199,114,255)] focus:border-solid;
}
.inputField:focus {
  outline: none;
}
.inputField::placeholder {
  @apply text-[rgb(80,80,80)] text-[1em] font-medium;
}
#button {
  @apply z-[2] relative w-full bg-[rgb(162,104,255)] h-[30px] w-[150px] text-[white] text-[0.8em] font-medium tracking-[1px] cursor-pointer m-2.5 border-[none] hover:bg-[rgb(126,84,255)];
}
.forgotLink {
  @apply z-[2] text-[0.7em] font-medium text-[rgb(44,24,128)] no-underline px-[15px] py-2 rounded-[30px];
}
.container {
  @apply h-screen;
}
.nav-bar {
  @apply w-full bg-[#2E2F3A] flex items-center justify-between;
}
.nav-bar a {
  @apply text-[#6B6C7B] whitespace-nowrap select-none ml-2.5;
}
.close {
  @apply w-10 h-10 flex justify-center items-center relative cursor-pointer;
}
.line {
  @apply absolute w-5 h-[3px] bg-[#6B6C7B] rounded-[30px];
}
.line.one {
  @apply rotate-45;
}
.line.two {
  @apply rotate-[135deg];
}
.messages-area {
  @apply bg-[green] w-full;
}
.sender-area {
  @apply bg-[#343541] w-full h-[50px] flex;
}
.message {
  @apply w-full h-[50px];
}
.message.one,
.message.three,
.message.five,
.message.seven,
.message.nine,
.message.eleven,
.message.thirteen,
.message.fifteen {
  @apply bg-[#2E2F3A];
}
.message.two,
.message.four,
.message.six,
.message.eight,
.message.ten,
.message.twelve,
.message.fourteen,
.message.sixteen {
  @apply bg-[#343541];
}
.send-img {
  @apply w-[30px];
}
.send-input {
  @apply flex h-10 w-[230px] text-[white] text-ellipsis whitespace-nowrap overflow-hidden ml-[5px] rounded-[7px] border-[none];
  outline: none;
  background: none;
  background: none;
}
.send-input::placeholder {
  @apply text-[#828E9E];
}
.input-place {
  @apply flex flex-row items-center bg-[#40414F] h-10 w-full gap-[5px] border ml-2.5 mt-[5px] rounded-[7px] border-solid border-[#2E2F3A];
}
.send {
  @apply w-full h-[30px] bg-[none] flex items-center justify-end cursor-pointer;
}
.send-icon {
  @apply w-[17px];
}
.wrap {
  @apply w-full max-w-xs mx-auto my-0 mt-5 h-72 rounded-md;
}
/* .profile {
  @apply text-center;
}
.profile {
  @apply flex items-center justify-center gap-3;
}
.photo {
  @apply rounded-[50%];
}
.profile_name {
  @apply font-primary block;
}
.at {
  @apply text-[13px];
}
.links ul {
  @apply m-0 p-0;
  list-style: none;
}
.links ul li {
  @apply mx-0 my-3.5;
}
.link {
  @apply block bg-[#9466FF] text-center no-underline rounded transition-[ease] duration-[all] delay-[0.3s] text-white p-3.5 hover:opacity-90;
}
.card {
  @apply bg-white rounded p-2.5;
}
.card h3 {
  @apply text-[#202024] m-0;
}
.card p {
  @apply text-[13px] text-[#202024] mx-0 my-[5px];
} */
.screen:hover .background {
  @apply opacity-50;
}
.slider:hover {
  @apply transition-all duration-[0.5s] ease-[ease-in-out] -left-80;
  -webkit-transition: all 0.5s ease-in-out;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Pheader {
  @apply h-[60px] w-full text-center float-left text-white;
  background: #56b8de;
}
.profilepic {
  @apply w-20 shadow-[0px_1px_2px_rgba(0,0,0,0.5)] mt-5 rounded-[50%] border-2 border-solid border-white;
}
h3 {
  @apply mt-0;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
}
.screen {
  @apply w-96 h-[280px] shadow-[0px_2px_6px_#999] relative overflow-hidden mx-auto my-0;
  background: #333;
}
.slider {
  @apply w-[770px] float-left relative transition-all duration-[0.5s] ease-[ease-in-out] left-[30px];
  -webkit-transition: all 0.5s ease-in-out;
}
.background {
  @apply absolute w-96 h-auto z-0 transition-all duration-[0.5s] ease-[ease-in-out] left-0 top-[60px];
  -webkit-transition: all 0.5s ease-in-out;
}
.header1 {
  @apply text-center w-[320px] float-left h-[140px] text-white relative
}
.header2 {
  @apply text-center w-[400px] float-left text-white relative;
}
.header2 {
  @apply pt-3.5;
}
p {
  @apply text-xs;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.file {
@apply  h-[50px]
}
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 50px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}
.file-upload-label {
  cursor: pointer;
  background-color: #ddd;
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed rgb(82, 82, 82);
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}
.section-center {
  position: absolute;
  z-index: 10;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.section-path {
  position: relative;
  width: 130px;
  height: 30px;
  border-radius: 35px;
  text-align: center;
  background-color: #e6e6e6;
  box-shadow: inset -2px 20px 10px 0 rgba(0,0,0,.06),
		inset -2px 30px 10px 0 rgba(0,0,0,.04);
  border: 3px groove rgba(225,225,225,0.07);
  overflow: hidden;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.globe {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 10px 40px rgba(0,0,0,0.65);
  animation: rotateBall 4s ease infinite;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

@keyframes rotateBall {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(162px);
  }

  100% {
    transform: translateX(0);
  }
}

.globe:after {
  position: absolute;
  width: 5px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  content: '';
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 14px 7px rgba(255, 255, 255, 0.1);
}

.globe:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 50%;
  z-index: 1;
  box-shadow: inset 0 0 15px #1a252f;
  opacity: 0.4;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.globe .wrapper {
  position: absolute;
  width: 528px;
  height: 528px;
  animation: moveBall 4s ease infinite;
}

@keyframes moveBall {
  0% {
    left: -462px;
  }

  50% {
    left: 0;
  }

  100% {
    left: -462px;
  }
}

.globe .wrapper span {
  position: absolute;
  width: 33px;
  height: 528px;
  top: 0;
  left: 0;
  background-color: #5c477d;
  box-shadow: inset 0 0 25px #5c487c;
}

.globe .wrapper span:nth-child(2) {
  left: 33px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(3) {
  left: 66px;
}

.globe .wrapper span:nth-child(4) {
  left: 99px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(5) {
  left: 132px;
}

.globe .wrapper span:nth-child(6) {
  left: 165px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(7) {
  left: 198px;
}

.globe .wrapper span:nth-child(8) {
  left: 231px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(9) {
  left: 264px;
}

.globe .wrapper span:nth-child(10) {
  left: 297px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(11) {
  left: 330px;
}

.globe .wrapper span:nth-child(12) {
  left: 363px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(13) {
  left: 396px;
}

.globe .wrapper span:nth-child(14) {
  left: 429px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(15) {
  left: 462px;
}

.globe .wrapper span:nth-child(16) {
  left: 495px;
  background-color: #503e6d;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#switch {
  width: 70px;
  height: 8px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #8167a9;
  border-radius: 27px;
  background: #000;
  position: relative;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
}

#circle {
  position: absolute;
  top: -11px;
  left: 5px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #000;
}

.switched {
  border-color: #000 !important;
  background: #8167a9 !important;
}

.switched #circle {
  left: 35px;
  background: #fff;
}

.section-center p span {
  position: relative;
  padding: 4px 10px;
  margin: 0 5px;
}

.section-center p span:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #8167a9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.section-center p span:after {
  position: absolute;
  content: '';
  width: calc(100% - 10px);
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
  left: 5px;
  top: 50%;
  z-index: 1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.section-center p span:nth-child(2):after {
  opacity: 0;
}
  .chatbox {
    @apply bg-[#343541] flex flex-col rounded-lg h-[calc(100%-100px)];
  }
 

